<md-dialog aria-label="{{cake.name}}">
<form ng-controller="ReviewCtrl" ng-cloak>
   <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{cake.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="images/icons/close.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
            <!--<div class="margin"><label for="name">Name</label> <input type="text" ng-model="review.name" name="name" /> </div>-->
            <div class="margin"><label for="comment">Comment</label> <input type="text" ng-model="review.comment" name="comment" /> </div>
            <div class="margin"><label for="yumfactor">Yum factor (1-5)</label><input type="text" ng-model="review.yumfactor" name="yumfactor" /> </div>
            <md-button type="submit" class="md-raised md-primary" aria-label="Save" ng-click="submit()">Save</md-button>
            <div ng-show="showMessage">{{message}}</div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>